.box-bottom {
  font-family: "JetBrains Mono";
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}
.box-bottom #mainbox-btn {
  margin: 5px;
  text-align: center;
}

#bottombox-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  align-self: flex-start;
}

.spoiler-dnt {
  display: none;
}

.spoiler-dnt p {
  font-size: 0.7rem;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-family: "JetBrains Mono";
  background: #003366;
  background-position: center center;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

a:active,
a:hover,
a:focus {
  outline-width: 0;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  text-align: left;
  color: #fff;
}

.flex {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  width: 36rem;
  min-width: 30em;
  max-width: 555px;
  padding: 0px 15px;
  margin: 0 auto;
  z-index: 1;
  border-radius: 2rem;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 30em) {
  .container {
    width: 100%;
    min-width: auto;
    height: 100%;
    padding: 0px 24px;
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
    border: 0;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 23em) {
  .container {
    padding: 0px 10px;
  }
}
@media screen and (min-width: 30.1em) and (max-width: 48em) {
  .container {
    width: 80%;
  }
}
.wrapper {
  width: 80%;
  min-width: 30em;
  max-width: 850px;
  padding: 2em;
  margin: 0 auto;
  z-index: 1;
  border-radius: 2rem;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 30em) {
  .wrapper {
    width: 100%;
    min-width: auto;
    padding: 2em 0.5em;
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
    border: 0;
  }
}
.content {
  margin-bottom: 0.625rem;
  padding: 1rem 0.5rem 0;
}

@media screen and (max-width: 30em) {
  .content {
    padding: 1rem 0;
  }
}
.title {
  text-align: center;
  margin: 5px 0;
}
.title p {
  font-weight: normal;
}
.title a {
  text-decoration: none;
}
.title .user-pic {
  height: 150px;
  pointer-events: none;
  margin-bottom: 1rem;
  justify-self: center;
  background-image: url("../img/logo.webp");
  background-size: cover;
}

.icons {
  font-size: 30px;
  padding: 0 4px;
}

a {
  transition: color 0.4s;
  color: black;
}
a:hover, a:focus {
  color: #2a5493;
}

.social-btn,
.btn {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.social-btn:hover, .social-btn:focus,
.btn:hover,
.btn:focus {
  box-shadow: 0 0 1px 0 rgba(40, 40, 40, 0.5);
  color: #2a5493;
}

.social-btn {
  padding: 10px;
  margin: 10px;
}

.btn {
  cursor: pointer;
  padding: 10px 18px;
  font-size: 1rem;
  margin: 10px;
  min-width: 120px;
}

hr {
  border: 0;
  height: 1px;
  opacity: 0.8;
  margin: 1em 0;
  background: linear-gradient(to left, #f0f0f0, #8c8b8b, #f0f0f0);
}
hr.hr-line {
  opacity: 0.15;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  border: 0;
}
img.img-circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
img.img-qrcode {
  height: 150px;
}

/* Day mode/theme styles */
@media (prefers-color-scheme: light) {
  .container,
.wrapper {
    color: rgb(16, 16, 16);
    background-color: rgba(248, 248, 248, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  .social-btn,
.btn {
    color: rgb(16, 16, 16);
    background-color: rgba(248, 248, 248, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  #bg-img-container {
    background-image: url("../img/bg-light.jpg");
  }
}
/* Night mode/theme styles */
@media (prefers-color-scheme: dark) {
  .container,
.wrapper {
    color: rgb(248, 248, 248);
    background-color: rgba(16, 16, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  .social-btn,
.btn {
    color: rgb(248, 248, 248);
    background-color: rgba(16, 16, 16, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
  #bg-img-container {
    background-image: url("../img/bg-dark.jpg");
  }
}
#bg-img-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/*! particles.js - https://github.com/VincentGarreau/particles.js
 *  License - https://github.com/VincentGarreau/particles.js/blob/master/LICENSE.md (The MIT License) */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/*! Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  src: local("FontAwesome"), url("../fonts/FontAwesome//fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/FontAwesome//fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/FontAwesome//fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/FontAwesome//fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/FontAwesome//fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/FontAwesome//fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
/*! Font JetBrains Mono - https://jetbrains.com/mono
 *  License - https://jetbrains.com/mono/#license (Apache 2.0 license) */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: local("JetBrains Mono"), local("JetBrains-Mono"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/otf/JetBrainsMono-Regular.otf") format("otf");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: local("JetBrains Mono"), local("JetBrains-Mono"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Bold.ttf") format("truetype"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/otf/JetBrainsMono-Bold.otf") format("otf");
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  width: 1.3em;
  text-align: center;
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-vk:before {
  content: "\f189";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-telegram:before {
  content: "\f2c6";
}

.fa-github:before {
  content: "\f09b";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-linkedin-square:before {
  content: "\f08c";
}/*# sourceMappingURL=styles.css.map */